<footer class="mastfoot pb-5 bg-white section-padding pb-0">
	<div class="inner container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img src="{{ .Site.Params.logoFooter | absURL }}" class="img-fluid footer-logo mb-3" alt="">
			</div>
			<div class="col-lg-4">
				<div class="footer-widget pr-0">
					<h4>Próximos eventos:</h4>
					<ul class="list-unstyled open-hours"></ul>
					<li class="d-flex justify-content-between"><b>Junho</b> Mercado Oitocentista - Valongo</li>
					<li class="d-flex justify-content-between"><b>Julho</b>Semana das Associações Campo</li>
					<li class="d-flex justify-content-between"><b>Agosto</b>Retorta em festa</li>
					</ul>
					<nav class="nav nav-mastfoot justify-content-start">
						<a class="nav-link" href="{{.Site.Params.facebook}}">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="nav-link" href="{{.Site.Params.website}}">
							<i class="fa fa-globe"></i>
						</a>
						<a class="nav-link" href="mailto:{{.Site.Params.email}}">
							<i class="fa fa-envelope"></i>
						</a>
					</nav>
				</div>

			</div>
			<div class="col-lg-4">

			</div>

			<div class="col-lg-4">
				<div class="footer-widget">
					<h4>Horário</h4>
					<ul class="list-unstyled open-hours">
						<li class="d-flex justify-content-between"><span>sexta</span><span>19:00 - 24:00</span></li>
						<li class="d-flex justify-content-between"><span>sábado</span><span>19:00 - 24:00</span></li>
						<li class="d-flex justify-content-between"><span>domingo</span><span>19:00 - 22:00</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- External JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
	integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
	crossorigin="anonymous"></script>
{{if .IsHome }}
<!--Main JS -->
<!-- <script src="js/app.min.js"></script> -->

<!-- Own JS-->
<script src="js/script.js?cacheId={{ now.Unix }}"></script>
{{end}}
<!--Google Analytics-->
{{ if .Site.Params.enableGA }}
{{ template "_internal/google_analytics.html" . }}
{{end}}