
<div class="custom-menus d-flex align-items-center">
    <div class="custom-menu-img rounded-circle">
        <img class="img-fluid" src='{{ .img }}' alt="">
    </div>
    <div class="text-wrap">
        <div class="row align-items-start">
            <div class="col-8">
                <h5>{{ .title }}</h5>
            </div>
            <div class="col-4">
                <h5 class="text-muted menu-price">{{ .price | lang.FormatNumber 2 }} €</h5>
            </div>
        </div>
        <p>{{ .description }}</p>
    </div>
</div>