<!-- Menu Section -->
<section id="gtco-menu">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <h2>
                            Menu
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row" id="appetizers">
                <div class="col-lg-12 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Entradas</h3>
                    </div>
                    {{ range .Site.Data.items.appetizers }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding" id="sandwiches">
                <div class="col-lg-12 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Sandes</h3>
                    </div>
                    {{ range .Site.Data.items.sandwiches }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding" id="soups">
                <div class="col-lg-12 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Sopas</h3>
                    </div>
                    {{ range .Site.Data.items.soups }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding" id="snacks">
                <div class="col-lg-12 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Petiscos</h3>
                    </div>
                    {{ range .Site.Data.items.snacks }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding"id="drinks">
                <div class="col-lg-12 menu-wrap"></div>
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Bebidas</h3>
                    </div>
                    {{ range .Site.Data.items.drinks }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding" id="desserts">
                <div class="col-lg-12 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Sobremesas</h3>
                    </div>
                    {{ range .Site.Data.items.desserts }}
                    {{ partial "item.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="row menu-padding">
                <div class="col-md-12 d-flex align-items-center">
                    <h4 class="mx-auto text-center mb-0">A falta de louça no acto de recolha implica o seu pagamento
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of menu Section -->