.menu-padding {
  padding-top: 10%;
}

.static-layout,
.boxed-page,
nav,
.menu-price,
ul,
.mastfoot,
i {
  background-color: #e7e4da !important;
  color: #4e3903 !important;
}

.navbar-brand img {
  height: 60px;
}

/*============================
=            MENU            =
============================*/

.custom-menu-img {
  overflow: hidden;
  height: 80px;
  width: 80px;
}
.custom-menu-img img {
  transition: all 0.5s ease;
  height: 100%;
  object-fit: cover;
}

.menu-price {
  text-align: right;
}

.custom-menus {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.custom-menus p,
.custom-menus h3 {
  margin-bottom: 0;
}
.custom-menus .text-wrap {
  width: calc(100% - 95px);
  margin-left: 15px;
}
.custom-menus .text-wrap h4 {
  font-weight: 300;
}

/*=====  End of MENU  ======*/