<div class="custom-menus d-flex align-items-center">
    <div class="custom-menu-img rounded-circle">
        <img data-toggle="modal" data-target="#imagemodal" class="img-fluid" src='{{ .img }}'>
    </div>
    <div class="text-wrap">
        <div class="row align-items-start">
            <div class="col-8">
                <h5>{{ .title }}</h5>
            </div>
            <div class="col-4">
                <h5 class="text-muted menu-price">{{ .price | lang.FormatNumber 2 }} €</h5>
            </div>
        </div>
        <p>{{ .description }}</p>
    </div>
</div>
<div class="modal fade" id="imagemodal">
    <div class="modal-dialog modal-dialog-centered">
        <img src="" class="imagepreview" style="width: 100%;">
    </div>
</div>